/* --clr-primary-accent for links and btns bg */
/* --clr-accent-white text color for btns */
/* --clr-bgsecondary-contrast for cohort cards */


@import './CustomProps.css';

* { overflow: hidden }
h1 { overflow: visible }

.AppContainer {
  background-color: var(--clr-bgprimary-dark)
}

#all-cohorts-btn{
  width: fit-content;
  align-self: center;
  background: none;
  border: none;
  font-family: var(--ff-primary);
  color: inherit;
  font-size: x-large;
  padding-top: 25%;
}

#cohort-container {
  font-family: var(--ff-primary);
  height: calc(100vh - 2rem);
  max-height: calc(90vh - 2rem);
  width: calc(100vw - 2rem);
  max-width: calc(100vw - 2rem);
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  margin: 1rem;
}

.mainContainer {
  border-radius: 10px;
  background-color: var(--clr-accent-white);
}

#cohort-nav {
  min-width: 250px;
  color: var(--clr-primary-accent);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  place-content: center center;
  text-align: center;
}

#cohort-nav > button {
  color: var(--clr-primary-accent);
}
#cohort-nav > button:nth-child(0) {
  width: 4rem;
}

#cohort-view {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3rem;
  overflow: scroll;
}
#cohorts-list {
  display: grid;
  grid-template-rows: auto 3rem;
}

.listOfCohorts{
  min-height: 25px;
  color: var(--clr-primary-accent);
  text-decoration: none;
  font-size: 2rem;
}
.test-cohort {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--clr-bgsecondary-contrast);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cardHeader{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  font-size: xx-large;
  min-height: 75px;
}

.cardName{
  grid-column: 2 / 5;
  grid-row: 1 / 2;

}

.cardSettingsIcon{
  grid-column: 5 / 6;
  grid-row: 1 / 2;

}

#settings {
  position: fixed;
}

.listOfNames {
  overflow: scroll;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 5%;
  font-size: xx-large;
}

#numberOfStudents{
  padding-top: 3%;
  font-size: x-large;
  min-height: 50px;
}

#legend {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 1rem;
  min-height: 2rem;
  min-width: 100px;
  text-align:center ;
  align-content: center;
  font-size: large;
  margin-bottom: 10px;
}

#ETS { 
  background-color: lawngreen; 
  grid-column: 2 / 3;
  border-radius: 10px;
  min-width: 100px;

}
#thirty { 
  background-color: orangered; 
  grid-column: 3 / 4;
  border-radius: 10px;
  min-width: 100px;
}
#sixty { 
  background-color: orange; 
  grid-column: 4 / 5;
  border-radius: 10px;
  min-width: 100px;
}
#ninety { 
  background-color: yellow;
  grid-column: 5 / 6;
  border-radius: 10px;
  min-width: 100px;
 }
#onetwenty { 
  background-color: aqua; 
  grid-column: 6 / 7;
  border-radius: 10px;
  min-width: 100px;
}
