.chatModalContainer {
    display: grid;
    justify-content: center;
    box-sizing: border-box;
}

.chatContainer {
    border: 1px solid #333;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    width: 25rem;
    justify-items: center;
}

.chatBody {
    display: grid;
    padding: .5rem;
}

.scroll {
    border: 1px solid #333;
    height: 10rem;
    width: 100%;
    overflow: auto;
}

.chatFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
}

.chatFooter input {
    width: 82%;
    margin-right: 5px;

}

.sendMsgBtn {
    opacity: .5;
}

.sendMsgBtn:hover {
    cursor: pointer;
    opacity: 1;
}

.emojiBtn:hover {
    cursor: pointer;
}

/* .chatFooter button {
    border: none;
    background-color: #5555;
    padding: .15rem;
    border-radius: 999px;
} */

.chatFooter button:hover {
    cursor: pointer;
}

.rightMsg {
    justify-self: right;
    background: lightblue;
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    /* max-width: 70%; */
    /* overflow: auto; */
}

.leftMsg {
    justify-self: left;
    background-color: hsl(22, 58%, 48%);
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* max-width: 70%; */
    /* overflow: auto; */
}

.msgFooter {
    font-size: .7rem;
}

.rightAuthor {
    justify-self: right;
    margin-bottom: 10px;
}

.leftAuthor {
    justify-self: left;
    margin-bottom: 10px;
}

.msgContent {
    width: 200px;
    overflow-wrap: break-word;
}