.createModalContainer{
    padding-top: 20px;
    width: 100%;
    display: block;
    margin: auto;
    font-family: Rubik, sans-serif !important;
    padding-bottom: 20px;
}

.createContainer{
    color: rgb(0, 0, 0);
    background-color: #C16733;
    width: fit-content;
    border-radius: 25px;
    display: block;
    flex-direction: column;
    margin: auto;
    padding-bottom: 15px;
}

.sub-headers{
    display: flex;
    justify-content: space-around;
}

.wholeUserCredential{
    background-color:white;
    margin-bottom: 20px;
    white-space: nowrap;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.609);
}

.wholeServiceInfo{
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.609)
}

.wholeLeaveDiv{
    background-color:white;
    margin-bottom: 20px;
    white-space: nowrap;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.609)
}

.wholeDependentDiv{
    background-color:white;
    margin-bottom: 20px;
    white-space: nowrap;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.609);
}

.wholeRelocationDiv{
    background-color:white;
    margin-bottom: 20px;
    white-space: nowrap;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.609);
}

.wholeEducationDiv{
    background-color:white;
    margin-bottom: 20px;
    white-space: nowrap;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.609);
}

.account-info{
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    justify-content: space-around;
    white-space: nowrap;
    overflow-x:scroll;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.header-div{
    display: flex;
    justify-content: center;
    color:white;
    text-shadow:3px 3px 10px rgba(0, 0, 0, 0.609) ;
    font-size: 2.5ch;
    padding-top: 2%;
}

.createInnerCredentials{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.service-info-1{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
   
}

.service-info-2{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
    
}

.leave-div{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.leave-question{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.leave-calender{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.dependent-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow-x: scroll;
}

.dependent-question{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.add-dependent:hover {
    color: rgb(24, 121, 0);
    transform: scale(1.5) perspective(1px);
    cursor: pointer;
}

.show-password:hover{
    transform: scale(1.5) perspective(1px);
    cursor: pointer;
}

.password-div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.relation-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.remove-dependent:hover{
    color: rgb(149, 1, 1);
    transform: scale(1.5) perspective(1px);
    cursor: pointer;
}

.dependent-remove-div{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
}

.relocate-div{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    padding: 10px;
}

.education-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.interests-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    background-color:white;
    margin-bottom: 20px;
    white-space: nowrap;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.609);
    padding-bottom: 15px;
}

.welcome-header{
    margin-bottom: 5px;
}

.interests-sub-header{
    margin-top: 10px;
}

.email-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.username-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.ets-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.branch-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.mos-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.rank-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.duty-station-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.city-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.state-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.leave-p{
    margin-left: 10px;
}

.taps-div{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.submit-create-account{
    width: 50%;
    display: block;
    margin: auto;
    background-color:rgb(24, 121, 0);
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.609);
}

.checkmark-submit-btn{
    display: block;
    margin: auto;
}

.submit-create-account:hover{
    cursor: pointer;
    transform: scale(1.5) perspective(1px);
}

.required-fields{
    color: rgb(201, 0, 0);
    font-size: 11px;
}

.highest-edu-question{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.seeking-higher-edu{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.username-with-required{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.password-require{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.interests-with-as{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.interests-with-require{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.credentials-require{
    display: flex;
    justify-content: space-around;
}

.success-message-div{
    margin: auto;
    width: fit-content;
    margin-top: 25vh;
    height: 50%;
    background-color: #C16733;
    padding: 20px;
    border-radius: 20px;
    white-space: nowrap;
}

.success-message{
    color: white;
}

@media (orientation: portrait) {
    .createModalContainer{
        height: fit-content;
        max-width: 100vw;
    }
    .createContainer{
        height: fit-content;
        flex-direction: column;
        display: flex;
        max-width: 100vw;
    }

    .account-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        word-wrap: wrap;
    }
    .service-info-1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        white-space: pre-line;
        gap: 20px;
    }

    .service-info-2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .education-div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        white-space: normal;
        wrap: break-word;
    }

    .dependent-div{
        white-space: normal;
        wrap: break-word;
    }

    .leave-div{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .success-message-div{
        max-width: 100vw;
        min-width: 70vw;
        white-space: normal;
        margin-top: 20vh;
    }

    .success-message{
        font-size: 1.5rem;
    }
}