@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  /* Fonts */
  --ff-primary: 'Rubik', sans-serif;
  --ff-header: 'Bebas Neue', cursive;

  /* Color Pallet */

  /* Dark Blue */
  --clr-bgprimary-dark: hsl(203, 97%, 13%);

  /* Orange */
  --clr-bgsecondary-contrast: hsl(22, 58%, 48%);

  /* Sapphire Blue */
  --clr-primary-accent: hsl(191, 100%, 24%);

  /* Sky Blue  */
  --clr-secondary-accent: hsl(198, 67%, 71%);

  /* Coyote Brown */
  --clr-nuetral-brown: hsl(24, 31%, 40%);

  /* Moss Green  */
  --clr-neutral-green: hsl(70, 19%, 48%);

  /* Mint Cream */
  --clr-accent-white: hsl(171, 100%, 99%);

  /* Uniformed Padding  */
  --spacer-container: 1.5em;
  --spacer-smallItems: 0.5em;

  /* Line Height */
  --spacer-line: 1.5;
}