.HeaderContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: #012361;
    color: white;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 7px;
    width: 100%;
}

.headerTitleLogoContainer {
    display: flex;
    flex-direction: row;
}

.HeaderLogo {
    margin-left: 10px;
    height: 25px;
}

.headerTitle {
    text-align: center;
    padding-right: 103px;
    flex-grow: 3;
    font-size: 28px;
}

.navbarContainer {
    display: grid;
    justify-content: center;
}

.navbarUL {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1.5rem;
}

.navLink {
    text-decoration: none;
    color: inherit;
    opacity: .5;
    padding: .6rem;
}

.navLink:hover {
    cursor: pointer;
    opacity: 1;
}

.activeTab {
    opacity: 1;
    background-color: #7775;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}