.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

.loginContainer {
    z-index: 1;
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
    background: #1115;
    display: grid;
    justify-items: center;
    gap: 1rem;
    box-shadow: 10px 10px 10px #111;
    border-radius: 15px;
    animation: animate .3s;
}

.loginContainer h1 {
    color: white;
    text-shadow: 2px 2px 5px #222;
}

.loginForm {
    display: grid;
    gap: .5rem;
    align-content: center;
    justify-content: center;
}

.loginInputBox,
.loginBtn {
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 9999px;
    border: none;
    box-shadow: 5px 5px 5px #111;
    margin-top: .5rem;
}

.errorMsg {
    color: red;
    justify-self: center;
    display: none;
}

.show {
    display: inline-block;
}

.loginBtn {
    font-size: 1rem;
    padding: .25rem;
    opacity: .7;
    color: white;
    background-color: rgba(11, 71, 155, 0.943);
}

.loginBtn:hover {
    font-size: 1.25rem;
    opacity: 1;
    cursor: pointer;
}


.createAccBtn {
    background-color: rgb(195, 123, 6);
}