@import "./CustomProps.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
   /* Fonts */
   --ff-primary: "Rubik", sans-serif;
   --ff-header: "Bebas Neue", cursive;

   /* Color Pallet */

   /* Dark Blue */
   --clr-bgprimary-dark: hsl(203, 97%, 13%);

   /* Orange */
   --clr-bgsecondary-contrast: hsl(22, 58%, 48%);

   /* Sapphire Blue */
   --clr-primary-accent: hsl(191, 100%, 24%);

   /* Sky Blue  */
   --clr-secondary-accent: hsl(198, 67%, 71%);

   /* Coyote Brown */
   --clr-nuetral-brown: hsl(24, 31%, 40%);

   /* Moss Green  */
   --clr-neutral-green: hsl(70, 19%, 48%);

   /* Mint Cream */
   --clr-accent-white: hsl(171, 100%, 99%);

   /* ETS Tag Colors */
   /* 120 Days */
   --clr-ets-blue: hsl(174, 100%, 40%);

   /* 90 Days */
   --clr-ets-yellow: hsl(45, 100%, 47%);

   /* 60 Days */
   --clr-ets-orange: hsl(28, 80%, 45%);

   /* 30 Days */
   --clr-ets-red: hsl(0, 100%, 40%);

   /* ETS'd */
   --clr-ets-green: hsl(105, 100%, 32%);

   /* Uniformed Padding  */
   --spacer-container: 1.5em;
   --spacer-smallItems: 0.5em;

   /* Line Height */
   --spacer-line: 1.5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


svg {
   background: none;
}
*{
   font-family: var(--ff-primary);
 }
body {
   /* height: 100vh; */
   background-color: var(--clr-bgprimary-dark);
}

*::-webkit-scrollbar {
   width: 10px;
}

*::-webkit-scrollbar-track {
   background: none;
}

*::-webkit-scrollbar-thumb {
   background: var(--clr-primary-accent);
   border-radius: 10px;
}

*::-webkit-scrollbar-track-piece:end {
   background: transparent;
   margin-bottom: 20px;
}

*::-webkit-scrollbar-track-piece:start {
   background: transparent;
   margin-top: 20px;
}

li,
span {
   list-style: none;
}

ul>h4,
li>h4 {
   margin-top: 1em;
}